{% extends 'backend_layout.html.twig' %}

{% block title %}{{ parent() }} Gestion liste des sections{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="card bg-light-info shadow-none position-relative overflow-hidden">
            <div class="card-body px-4 py-3">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h4 class="fw-semibold mb-8">Gestion des sections</h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="text-muted" href="#">Modules</a></li>
                                <li class="breadcrumb-item"><a class="text-muted" href="#">Gestion</a></li>
                                <li class="breadcrumb-item" aria-current="page">sections</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-3">
                        <div class="text-center mb-n5">
                            <span class="head-icon"><i class="ti-package"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col"><h5 class="mb-2 fw-semibold fs-4">Liste</h5></div>
                                <div class="col">
                                    <div class="action">
                                        <button class="btn btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#primary-header-modal"><i class="ti-plus"></i> Ajouter</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="listes" class="table  border table-striped table-bordered display text-nowrap">
                                    <thead>
                                    <tr>
                                        <th class="text-center text-uppercase">#</th>
                                        <th class="text-center text-uppercase">Codes</th>
                                        <th class="text-center text-uppercase">Doyenne</th>
                                        <th class="text-center text-uppercase">Noms</th>
                                        <th class="text-center text-uppercase">Participants</th>
                                        <th class="text-center text-uppercase">actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for section in sections %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td class="text-center">{{ section.code }}</td>
                                            <td>{{ section.doyenne.nom }}</td>
                                            <td>{{ section.paroisse }}</td>
                                            <td class="text-center">{{ section.id|length }}</td>
                                            <td class="text-center">
                                                <a href="{{ path('app_backend_section_show', {'id': section.id}) }}"><i class="ti-receipt"></i></a>
                                                &nbsp; | &nbsp;
                                                <a href="{{ path('app_backend_section_edit', {'id': section.id}) }}"><i class="ti-pencil-alt"></i></a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="6" class="text-center">Aucun section trouvé</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="primary-header-modal" class="modal fade" tabindex="-1" aria-labelledby="primary-header-modalLabel" aria-hidden="true">
            {{ include('backend_section/_form.html.twig') }}
        </div>

    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/prism.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/DataTables/datatables.min.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/js/prism.js') }}"></script>
    <script src="{{ asset('assets/vendor/DataTables/datatables.min.js') }}"></script>
    <script>
        $('#listes').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'copy', 'excel', 'pdf'
            ]
        } );
    </script>
{% endblock %}
