{% extends 'base.html.twig' %}

{% block title %}NYAKA NANSI 2024 - Inscription {% endblock %}

{% block body %}
    <div class="overflow-hidden">
        <div class="logo">
            <div class="logo-icon" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="2000">
                <img src="{{ absolute_url(asset('frontend/img/logo-activite.png')) }}" alt="" class="img-fluid activite">
            </div>
            <div class="logo-text" data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="2000">
                <h2 class="titre-activite">
                    N'yâkâ Nansi 2024
                </h2>
                <h3>Je participe à cette édition</h3>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="formulaire" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="2000">
            <div class="text-center mt-5 mb-5" data-aos="zoom-out" data-aos-duration="3000" data-aos-easing="ease-in-back">
                <h2 class="titre">De quel grade suis-je?</h2>
            </div>
            <form id="formValidation">
                <div class="form-group row">
                    <div class="col-lg-6 mt-3">
                        <label for="selectGrade">Grade</label>
                        <select name="selectGrade" id="selectGrade" class="form-select form-select-lg" required>
                            <option value=""></option>
                            {% for grade in grades %}
                                <option value="{{ grade.id }}">{{ grade.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
{#                    <div class="col-6 mt-3">#}
{#                        <div class="form-check form-switch">#}
{#                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">#}
{#                            <label class="form-check-label" for="flexSwitchCheckDefault">Tee-shirt</label>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-6 mt-3">#}
{#                        <label for="selectTeeshirt">Veux-tu un teeshirt?</label>#}
{#                        <select name="selectTeeshirt" id="selectTeeshirt" class="form-select form-select-lg" required>#}
{#                            <option value="">-</option>#}
{#                            <option value="OUI">OUI</option>#}
{#                            <option value="NON">NON</option>#}
{#                        </select>#}
{#                    </div>#}
                    <div class="col-lg-6 mt-3">
                        <label for="selectSexe">Taille du tee-shirt</label>
                        <select name="selectTaille" id="selectTaille" class="form-select form-select-lg" required>
                            <option value=""></option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                            <option value="XXL">XXL</option>
                        </select>
                    </div>

                    <div class="col-12 mt-3">
                        <div class="row justify-content-center align-content-center align-items-center">
                            <div class="col-6 text-end mt-3" style="font-size: 1.1rem;">Montant total</div>
                            <div class="col-6 mt-3">
                                <div id="montantTotal" style="font-weight: bold; font-size: 1.7rem; color: #0d6efd"></div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 mt-5 d-grid gap-2">
                        <input type="hidden" name="inputMontant" id="hiddenMontant" >
                        <button type="submit" class="btn btn-primary btn-lg">Valider</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="loader-overlay" style="display: none">
        <div class="loader"></div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{#    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.8/dist/axios.min.js"></script>
    <script>
        $(document).ready(function() {
            // $('#selectTaille').prop('required', false).prop('disabled', true);
            $('#selectGrade').on('change', function () {
                let gradeId = $(this).val();
                console.log(gradeId);
                $.getJSON("{{ absolute_url(path('app_api_grade_show')) }}",{'grade_id': gradeId})
                    .done(response =>{
                        console.log(response.montant)
                        $('#montantTotal').empty()
                            .text(response.montant);

                        // Réinitialiser la liste de sélection #selectTeeshirt
                        // $('#selectTeeshirt');

                        // $('#selectTeeshirt')
                        //     .prop('selectedIndex', 0)
                        //     .on('change', function(){
                        //     let teeshirt = $(this).val();
                        //     console.log(teeshirt)
                        //     if (teeshirt === 'OUI'){
                        //         let total = response.montant + response.teeshirt;
                        //         $('#montantTotal').text(total);
                        //         $('#hiddenMontant').append(total)
                        //         $('#selectTaille')
                        //             .prop('selectedIndex', 0)
                        //             .prop('required', true)
                        //             .prop('disabled', false);
                        //     }
                        //     if (teeshirt === 'NON'){
                        //         $('#montantTotal').text(response.montant)
                        //         $('#hiddenMontant').append(response.montant)
                        //         $('#selectTaille')
                        //             .prop('value','')
                        //             .prop('required', false)
                        //             .prop('disabled', true);
                        //     }
                        // })
                    })
                    .fail((xhr,status, error) =>{
                        swal.fire('error', "Une erreur s'est produit lors de la récupération des données: " + error)
                    })
            })

            $('#formValidation').submit(function (e) {
                e.preventDefault();

                var formData = {
                    grade: $('#selectGrade').val(),
                    teeshirt: $('#selectTeeshirt').val(),
                    taille: $('#selectTaille').val(),
                    montant: $('#montantTotal').text(),
                }

                console.log(JSON.stringify(formData))

                $.ajax({
                    method: 'POST',
                    url: "{{ absolute_url(path('app_api_participation_paiement')) }}",
                    data: JSON.stringify(formData),
                    success: function (response) {
                        console.log(response)

                        // const axios = require('axios');

                        // const api_key = "wave_ci_prod_lohtz8P1PeX3LYnul5FtKelEq4V972UjRDO8frGaUwiTruGhYJzlMmsobR_K3QGb5HIUN4goZrzRrBtTrAq1Yl3bIkgqnw-FVQ";

                        const checkout_params = {
                            amount: "" + response.montant + "",
                            currency: "XOF",
                            error_url: "{{ absolute_url(path('app_backend_dashboard')) }}",
                            success_url: "{{ absolute_url(path('app_home')) }}recu/" + response.matricule + "",
                        };



                        axios.post(
                            "{{ absolute_url(path('app_api_wave_checkout')) }}", checkout_params
                        )
                            .then((response) => {
                                console.log(response)
                                var content = JSON.parse(response.data.content);
                                // You can now use the response to redirect the user to the Wave app
                                // const wave_launch_url = response.data.wave_launch_url;
                                // window.location.href = wave_launch_url;
                                console.log(response.data.statusCode)
                                console.log(response.data.content)
                                console.log(content.wave_launch_url)
                                window.location.href = content.wave_launch_url
                            })
                            .catch((error) => {
                                console.error(error);
                            });

                    },
                    error: function(xhr, status, error) {
                        // Gérez les erreurs ici (par exemple, affichez un message d'erreur)
                        Swal.fire({
                            icon: 'error',
                            title: 'Erreur!',
                            text: 'Une erreur s\'est produite lors de l\'inscription. Veuillez réessayer plus tard.'
                        });
                    }
                })
            })
        });


    </script>
{% endblock %}
